{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <h2>{{ title }}</h2>

    {{ render_form(create_form) }}

    <script>
        let move_select = document.getElementById("movement_id")
        let sync_select = document.getElementById("syncname_id")

        move_select.onchange = function() {
            move_id = move_select.value;
            console.log("move:"+move_id)
            fetch('/emitsyncs/'+move_id).then(function(response){
                response.json().then(function(data) {
                    console.log("data:"+data)
                    let optionHTML = '';
                    for(let sn of data.syncs) {
                        optionHTML += '<option value="'+sn[0]+'">'+sn[1]+'</option>'
                    }
                    sync_select.innerHTML = optionHTML
                })
            })
        }
    </script>

{% endblock %}