{% extends 'base.html' %}

{% block content %}
    <h1>Emitpy</h1>
<ul>
    <li><a href="{{ url_for('create_flight_form') }}">Create flight</a></li>
    <li><a href="{{ url_for('create_service_form') }}">Create service</a></li>
    <li><a href="{{ url_for('create_mission_form') }}">Create mission</a></li>
    <li><a href="{{ url_for('create_schedule_form') }}">Reschedule movement</a></li>
    <li><a href="{{ url_for('create_remove_form') }}">Remove movement</a></li>
</ul>

    <h4>Administration</h4>
<ul>
    <li><a href="{{ url_for('create_queue_form') }}">Add queue</a></li>
    <li><a href="{{ url_for('delete_queue_form') }}">Delete queue</a></li>
</ul>

{% endblock %}
